<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="http://thelia.th/admin/module/HookAdminHome#">
</head>
<body>

<div class = "main">
    <div> <!--haut de page-->
        <button title="Add a new parent" href="#folder_creation_dialog"class="btn btn-primary btn-responsive action-btn"data-toggle="modal">
            Add a new parent
            <i class="glyphicon glyphicon-plus-sign"></i>
        </button>
    </div>

    <div>

    </div>

</div>



<li> <!--fils-->
    <div>le titre</div>
    <div class="btn-group" role="group">
        <a title="Edit this module" href="http://thelia.th/admin/module/update/38"class="btn btn-info btn-responsive hook-btn-38">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="Add a new child" href="#folder_creation_dialog"class="btn btn-primary btn-responsive action-btn"data-toggle="modal">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </a>
        <a title="Delete this module" href="#delete_module_dialog"class="btn btn-danger btn-responsive module-delete-action"data-id="38"data-toggle="modal">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    <div>
        <button>↑↑</button>
        <button>↓↓</button>
    </div>
</li>


</body>
</html>