<ul class="parent-item"> <!--parent-->
    <a class="drag-and-drop-icon"><i class="fas fa-bars"></i></a>
    <span data-id="titleSpan">le titre</span>
    <div class="btn-group" role="group">
        <a title="Edit this child" href="" class="btn btn-info btn-responsive ">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a title="Add a new child" href="#" class="btn btn-primary btn-responsive action-btn" data-toggle="modal">
            <i class="glyphicon glyphicon-plus-sign"></i>
        </a>
        <a title="Delete this child" href="#" class="btn btn-danger btn-responsive module-delete-action" data-id="38" data-toggle="modal">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <span>
        <a><i class="fas fa-chevron-up menu-collapse"></i></a>
        <a><i class="fas fa-chevron-down menu-collapse"></i></a>
    </span>

</ul>


<style>

    /*child*/
    .parent-item {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
    }

    .parent-item .btn-group {
        margin-left: auto;
        margin-right: 10%;
    }

    .parent-item a {
        margin-right: auto;
    }

    .parent-item span a {
        font-size: 250%;
        margin: 0 15px 0 15px;
    }
