{foreach $items as $item}
<ul class="menu-item">
    <li class="item {if $item.depth == 0}zero-depth{elseif $item.depth % 2 == 0}even-depth{/if}">
        <a class="drag-and-drop-icon"><i class="fas fa-bars"></i></a>
        <div class="title-container">
            <span data-id="titleSpan">{$item.title}</span>
        </div>
        <div class="btn-group">
            <a title="Edit this item" href="" class="btn btn-info btn-responsive ">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a title="Add a new child" class="btn btn-primary btn-responsive action-btn" data-toggle="modal">
                <i class="glyphicon glyphicon-plus-sign"></i>
            </a>
            <a title="Delete this item" href="#" class="btn btn-danger btn-responsive module-delete-action" data-toggle="modal">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <span>
            <a class="leftArrow" href="#"><i class="fas fa-chevron-up menu-collapse"></i></a>
            <a class="rightArrow" href="#"><i class="fas fa-chevron-down menu-collapse"></i></a>
        </span>
    </li>
    {if isset($item.children) && $item.children}
        {include file="menu-item.html" items=$item.children}
    {/if}
</ul>
{/foreach}

<style>
    .item {
        width: 100%;
        padding: 5px 10px 5px 10px;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

    .title-container {
        flex-shrink: 0;
    }

    ul > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-bottom: 1px solid #ccc;
    }

    ul.menu-item:last-child {
        border-bottom: none;
    }

    ul.menu-item span a {
        font-size: 150%;
    }

    ul ul {
        display: block;
        padding: 1% 3% 1% 3%;
    }

    ul span{
        width: 7% /*50px*/
    }

    .leftArrow {
        float: left;
    }

    .rightArrow {
        float: right;
    }

    .drag-and-drop-icon {
        font-size: 150%;
    }

    .zero-depth {
        background-color: #f3f3f3;
    }

    .even-depth{
        background-color: #f7f7f7;
    }
</style>
