/* Style of module config */

.top {
    display: flex;
    margin-bottom: 3%;
    justify-content: space-between;
}

.top .btn {
    margin-left: auto;
}

.top #toggle-all-childrens{
    margin-left: 1%;
}

.selectMenu, #toggle-all-childrens{
    border-radius: 10px;
    background-color: #f5f5f5;
    border-color: #ccc;
}

.add-parent-btn{
    float: right;
    border-radius: 10px;
}

.menu{
    margin: 0 5% 0 5%;
    padding-left: 0;
    flex-direction: column;
}

.bottom {
    width: 100%;
    text-align: right;
    margin-top: 3%;
}

.bottom button{
    border-radius: 10px;
}


/* Style of menu item */

.item {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

li {
    list-style: none;
    align-items: center;

}

ul.menu-item:last-child {
    border-bottom: none;
}

.btn-group {
    margin: 0 30px 0 3%;
    z-index: 1000; /*to prevent the drop and down from going above buttons*/
}

.title-container{
    flex: 1;
}

.drag-and-drop-icon {
    font-size: 150%;
    margin-right: 3%;
}

.leftArrow {
    float: left;
}

.rightArrow {
    float: right;
}

.arrows{
    font-size: 180%;
    width: 60px;
    z-index: 100;
}

.zero-depth {
    background-color: #f2f2f2;
}

.even-depth{
    background-color: #f9f9f9;
}