.menu{
    margin: 0 5% 0 5%;
    padding-left: 0;
}

.add-parent-btn{
    display: block;
    margin-left: auto;
    margin-bottom: 3%;
}

.right-align-div {
    margin-right: 0;
    margin-left: auto;
    width: fit-content;
}

#save-div{
    margin-top: 2%;
}